* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: rgb(142, 199, 228);
}
h2 {
  font-size: 50px;
  padding: 20px;
  opacity: 0.8;
}
.outer_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner_container {
  background-color: lightcoral;
  height: 450px;
  width: 400px;
  padding: 20px;
  border-radius: 10% 54% 36% 22%;
}
.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.form-control {
  padding-bottom: 20px;
  font-size: 20px;
}
.form-control label {
  opacity: 0.8;
}
.form-control input,
#btn {
  padding-bottom: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.form #btn {
  margin-top: 15px;
  background-color: skyblue;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 150px;
  transform: translateX(40px);
}
#btn:hover {
  background-color: rgb(84, 116, 128);
  color: white;
}

.form-control .error {
  color: red;
  height: 10px;
  margin: 10px;
  font-size: 5px;
}
.form-control .success input {
  border-color: green;
}
.form-control .error input {
  border-color: red;
}
