* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}
h2 {
font-size: 50px;
  padding: 20px;
  opacity: 0.8;
}
.outer_container {
  background: rgb(142, 199, 228);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner_container {
  background-color: lightcoral;
  height: 450px;
  width: 400px;
  padding: 20px;
  border-radius: 10% 54% 36% 22%;
}
.form{
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    padding: 50px;
}
.input_box{
    padding-bottom: 20px;
    font-size: 20px;
   
}
.input_box label{
    opacity: 0.8;
}
.input_box input,#btn{
    padding-bottom: 10px;
    font-size: 20px;
    width: 250px;
    border: none;
    border-radius: 5px
}
#btn{
    margin-top: 15px;
    background-color: skyblue;
    color: white;
    cursor: pointer;  
}
#btn:hover{
    background-color: rgb(84, 116, 128);
    color: white;
    
}